<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head><meta charset="UTF-8"><head><meta charset="UTF-8">
<title>Insert title here</title></head><body>
<span th:if="${result} > 0">
	<script type="text/javascript">
		alert("로그인 성공");
		location.href="main.do";
	</script>
</span>
<span th:if="${result} == 0">
	<script type="text/javascript">
		alert("암호가 다릅니다, 다른 암호를 사용하세요");
		history.back();
	</script>
</span>
<span th:if="${result} == -1">
	<script type="text/javascript">
		alert("넌 누구냐,  꺼져");
		history.back();
	</script>
</span>
</body>
</html>