<!DOCTYPE html>
<!-- boardList(백리향) jstl과 유사한 역할 -->
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
	function del() {
		var con = confirm("정말로 탈퇴하겠습니까 ?");
		if (con) location.href="delete.do";
		else {
			alert("탈퇴가 취소 되었습니다");
			return;
		}
	}
</script></head><body>
<div class="container" align="center">
	<h2 class="text-primary"><span th:text="${member.name }"></span>님 환영 !!</h2>
<table class="table table-striped">
	<tr><td><a href="view.do" class="btn btn-success">조회</a></td></tr>
	<tr><td><a href="view2.do" class="btn btn-default">조회(사진 여러장)</a></td></tr>
	<tr><td><a href="updateForm.do" class="btn btn-warning">수정</a></td></tr>
	<tr><td><a onclick="del()" class="btn btn-danger">탈퇴</a></td></tr>
	<tr><td><a href="logout.do" class="btn btn-info">로그 아웃</a></td></tr>
</table>
</div>
</body>
</html>