<!DOCTYPE html>
<!-- boardList(백리향) jstl과 유사한 역할 -->
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<style type="text/css"> 
	.err {color: red; font-weight: bold; }
	th { background: green; color: white; }
</style>
<script type="text/javascript">
	function empnoChk() {
		if(!frm.empno.value) {
			alert("사번을 입력한 후에 체크 하시오");
			frm.empno.focus();  return false;
		}
		$.post("/emp/empnoChk.do", "empno="+frm.empno.value, function(data) {
			$('#empChk').html(data);
		});
	}
</script></head><body>
<div class="container" align="center">
	<h2 class="text-primary">직원정보 입력</h2>
<form action="/emp/empInsert.do" method="post" name="frm">
<table class="table table-bordered">
	<tr><th>사번</th><td><input type="number" name="empno" required="required"
		autofocus="autofocus"> <input type="button" value="중복체크" 
		onclick="empnoChk()" class="btn btn-success"> <div class="err" id="empChk"></div></td></tr>
	<tr><th>이름</th><td><input type="text" name="ename" required="required"></td></tr>
	<tr><th>업무</th><td><input type="text" name="job" required="required"></td></tr>
	<tr><th>관리자 사번</th><td><select name="mgr">
		<option th:each="e:${empList}" th:value="${e.empno}"
			th:text="${e.ename}+'('+${e.empno}+')'"></option>
	</select></td></tr>
	<tr><th>입사일</th><td><input type="date" name="hiredate" 
		required="required"></td></tr>
	<tr><th>급여</th><td><input type="number" name="sal" 
		required="required"></td></tr>
	<tr><th>COMM</th><td><input type="number" name="comm" 
		required="required"></td></tr>
	<tr><th>부서코드</th><td><select name="deptno">
		<option th:each="d:${deptList}" th:value="${d.deptno}"
			th:text="${d.dname}+'('+${d.deptno}+')'"
			th:if="${deptno!=d.deptno}"></option>
		<option th:each="d:${deptList}" th:value="${d.deptno}"
			th:text="${d.dname}+'('+${d.deptno}+')'"
			th:if="${deptno==d.deptno}" selected="selected"></option>
		</select></td></tr>
	<tr><td colspan="2" align="center">
		<input type="submit" class="btn btn-danger"></td></tr>
</table>
</form>
</div>
</body>
</html>